@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&display=swap');

// Typography
$primaryFont: 'Barlow';
$secondaryFont: 'Playfair Display SC';

// Color Scheme
$primary: #F2F6FA;
$secondary: #282828;
$accent: #D93208;
$yellow: #FBDB5B;
$blue: rgb(128, 195, 255);
$white: #FFFDEB;

$muted: #3D3D3D;
$cardBorder: #FFF6D6;
$focusRing: #B6CCE2;
$modalBg: rgba(128, 195, 255, 0.25);
$activeNav: #D3E0EE;