@import './globals';

.app {
  margin: 0;
  display: flex;
  justify-content: center;
  max-height: 93vh;
  height: 100%;
  position: relative;

  .burger {
    position: absolute;
    left: 0;
    top: 0;
  }

  .title {
    position: absolute;
    bottom: 0;

    h1 {    
      margin: 0;
      line-height: 1rem;
      letter-spacing: -3px;
      font-family: $secondaryFont;
      font-size: 5rem;
      text-transform: uppercase;
    }
  }
}