@import './globals';

.app {
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;

  @include lg {
    max-height: 93vh;
    height: 100%;
  }

  .title {
    position: absolute;

    // media queries
    @include lg {
      bottom: 0;
    }
    // media queries

    h1 {
      font-size: 2.4rem;
      font-weight: 700;
      font-family: $secondaryFont;
      line-height: 1rem;
      letter-spacing: -3px;
      text-transform: uppercase;

      // media queries
      @include xs {
        font-size: 2rem;
      }
      @include lg {
        margin: 0;
        line-height: 1rem;
        font-size: 5rem;
      }
      // media queries
    }
  }
}