@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&display=swap");
.app {
  margin: 0;
  display: flex;
  justify-content: center;
  max-height: 93vh;
  height: 100%;
  position: relative;
}
.app .title {
  position: absolute;
  bottom: 0;
}
.app .title h1 {
  margin: 0;
  line-height: 1rem;
  letter-spacing: -3px;
  font-family: "Playfair Display SC";
  font-size: 5rem;
  text-transform: uppercase;
}