@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Playfair+Display+SC:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #F2F6FA;
  font-family: "Inter";
  color: #282828;
}