@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&display=swap');

// Typography
$primaryFont: 'Barlow';
$secondaryFont: 'Playfair Display SC';

// Color Scheme
$primary: #F2F6FA;
$secondary: #282828;
$accent: #D93208;
$yellow: #FBDB5B;
$blue: #80C3FF;
$white: #FFFDEB;

$cardBorder: #FFF6D6;
$focusRing: #B6CCE2;
