@import '../../../assets/styles/variables.scss';

.container {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;

  .header {
    font-family: $secondaryFont;
    font-weight: 700;
    text-transform: uppercase;

    h1 {
      margin: 0;
      line-height: auto;
      letter-spacing: -3px;
      font-size: 3.25rem;
      text-align: left;
    }

    h2 {
      margin: 0;
      line-height: 1rem;
      letter-spacing: -1px;
      word-spacing: .25rem;
      font-size: 1.5rem;
      color: $accent;
      text-align: right;
    }
  }

  .text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    .summary {
      margin-top: 1rem;
      text-align: justify;
  
      p {
        font-family: $primaryFont;
        line-height: 18px;
        letter-spacing: -.75px;
        font-size: 14px;
      }
    }

    .sheath {
      margin: 0;
      padding: .5rem 0;
      display: flex;
      justify-content: center;
      .sword {
        width: 70%;
        height: auto;
      }
    }
  
    .directions {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      h4 {
        line-height: 5px;
        letter-spacing: -.5px;
        font-size: 1rem;
        font-weight: 700;

        text-transform: uppercase;
      }
  
      p {
        margin-top: -.5rem;
        padding: 0;
        line-height: 15px;
        letter-spacing: -.5px;
        font-size: 14px;
      }
  
    }
  }
}