@import '../globals';

.container {
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  padding: .25rem .5rem;
  justify-content: space-evenly;
  color: $secondary;

  .link {
    padding: 0 .5rem;
    img {
      
    }
  }
}