@import '../globals';

.container {
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  padding: .25rem .75rem;
  justify-content: space-evenly;
  color: $secondary;

  .link {
    padding: 0 .5rem;

    &:active {
      text-transform: lowercase;
      color: $activeNav;
    }

    &:hover {
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}