@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&display=swap");
.draw {
  max-height: 100vh;
  height: 100vh;
  margin-top: -1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.draw .question {
  color: #3D3D3D;
  line-height: 0;
  padding: 0.5rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.5px;
  word-spacing: 1.5px;
  -webkit-animation: text-focus-in 1.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s both;
  animation: text-focus-in 1.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}