@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&display=swap");
.container {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.container form input {
  margin: 0.25rem;
  padding: 0.25rem 0.25rem;
  background: #F3F3F3;
  font-family: "Barlow";
  border: 1px solid #282828;
  border-radius: 4px;
}
.container form input:focus, .container form button:focus {
  outline: 2px solid #B6CCE2;
}
.container form button {
  margin: 0.25rem;
  padding: 0.25rem 1rem;
  background: #F3F3F3;
  font-family: "Barlow";
  border: 1px solid #282828;
  border-radius: 4px;
}
.container .illuminate {
  padding: 0;
  margin: 0.25rem 1rem;
  width: 18ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: "Barlow";
  font-size: 0.95em;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}