@import '../../../assets/styles/variables.scss';

.draw {
  max-height: 100vh;
  height: 100vh;
  margin-bottom: -1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .question {
    line-height: 0;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -.5px;
    word-spacing: 1.5px;

    -webkit-animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s both;
    animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s both;
  }
}


/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}