@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&display=swap");
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  width: 25%;
}
.container div {
  padding: 1rem;
}
.container div .icon {
  color: #D93208;
}