@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Playfair+Display+SC:wght@400;700&display=swap");
.input {
  font-family: "Inter";
  background-color: #FFFBEC;
  border: 1px solid #80C3FF;
  border-radius: 0.5rem;
  padding: 0.25rem;
}